<div ng-controller="publisherController" class="container">
	<div class="page-header">
		<h1>List of Publishers in LMS</h1>
	</div>
	<button type="button" class="btn btn-success" ng-click="addPublisher()">Add New Publisher</button><br/><br/>
	<div class="input-group">
		<input type="text" class="form-control" ng-model="searchString"
			placeholder="Search for..." ng-change="searchAuthors()">
	</div>
	<div class="col-md-10">
		<ul class="pagination">
			<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
			<li ng-repeat="n in [] | range: pagination.numPages"
				ng-class="{active: n == pagination.page}"><a href=""
				ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
			<li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
		</ul>
	</div>
	<label>Any: <input ng-model="search.$" ng-change="filter()"></label> <br>
	<label>Name only: <input ng-model="search.branchName" ng-change="filter()">	</label>
	<label>Address only: <input ng-model="search.publisherAddress" ng-change="filter()">	</label>
	<label>Phone only: <input ng-model="search.publisherPhone" ng-change="filter()">	</label>
	<table class="table" id="publisherTable">
		<thead>
			<tr>
				<th>#</th>
				<th><a ng-click="sort()">Publisher Name</a></th>
				<th>Publisher Address</th>
				<th>Publisher Phone</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="p in publishers | filter:search | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
				<td>{{$index+1+(10*pagination.page)}}</td>
				<td>{{p.publisherName}}</td>
				<td>{{p.publisherAddress}}</td>
				<td>{{p.publisherPhone}}</td>
				<td><button type="button" class="btn btn-primary"
						ng-click="updateButton(p)">Update</button></td>
				<td><button type="button" class="btn btn-danger"
						ng-click="deleteButton(p)">Delete</button></td>
			</tr>
		</tbody>
	</table>
	<div class="modal fade bs-example-modal-lg" id="editModal"
		modal="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close" ng-click="closeModal()">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="modalTitle">Update Publisher Details</h4>
					</div>
					<div class="modal-body" ng-form name="myForm">
						<label for="pubname">Enter the Name of the Publisher:</p>
						<input type="text" ng-model="publisher.publisherName" id="pubname" name="pubname" required>
						<br />
						<div role="alert">
							<span class="error" ng-show="myForm.pubname.$error.required"
								style="color: red"> Publisher Name Required!</span>
						</div>
						
						<label for="pubaddr">Enter the details of the Publisher Address:</p>
						<input type="text" ng-model="publisher.publisherAddress" id="pubaddr" name="pubaddr">
						<br />
						
						<label for="pubphn">Enter the details of the Publisher Phone:</p>
						<input type="text" ng-model="publisher.publisherPhone" id="pubphn" name="pubphn">
						<br />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="closeModal()">Close</button>
						<button type="button" class="btn btn-primary"
							ng-click="updateData()" id="modalSave">Update</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
