<div ng-controller="borrowerController" class="container">
	<div class="page-header">
		<h1 id="viewHeader">List of Book Loans for {{user.borrowerName}}</h1>
	</div>
	<!-- <button type="button" class="btn btn-success" ng-click="addBook()">Add New Book</button><br/><br/> -->
	<div class="input-group">
		<input type="text" class="form-control" ng-model="searchString"
			placeholder="Search for..." ng-change="dataSearch()">
	</div>
	<div class="col-md-10">
		<ul class="pagination">
			<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
			<li ng-repeat="n in [] | range: pagination.numPages"
				ng-class="{active: n == pagination.page}"><a href=""
				ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
			<li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
		</ul>
	</div>
	<label>Any: <input ng-model="search.$" ng-change="filter()"></label> <br>
	<label>Branch only: <input ng-model="search.branch.branchName" ng-change="filter()">	</label>
	<label>Book only: <input ng-model="search.book.title" ng-change="filter()">	</label>
	<label>Due Date only: <input ng-model="search.dateDue" ng-change="filter()">	</label>
	<label>Date Checked In only: <input ng-model="search.dateIn" ng-change="filter()">	</label><br>
	<table class="table" id="bookssTable">
		<thead>
			<tr>
				<th>#</th>
				<th><a ng-click="sort()">Book Title</a></th>
				<th>Branch Name</th>
				<th>Checked OUT</th>
				<th>Due Date</th>
				<th>Checked IN</th>
				<th>Turn In Book</th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="l in loans | filter:search | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
				<td>{{$index+1+(10*pagination.page)}}</td>
				<td>{{l.book.title}}</td>
				<td>{{l.branch.branchName}}</td>
				<td>{{l.dateChecked}}</td>
				<td>{{l.dateDue}}</td>
				<td>{{l.dateIn || (l.dateIn = "NOT CHECKED IN")}}</td>
				<td ng-show="l.dateIn === 'NOT CHECKED IN'"><button type="button" class="btn btn-info"
						ng-click="checkIn(l)">Turn-In</button></td>
			</tr>
		</tbody>
	</table>
	<div class="modal fade bs-example-modal-lg" id="editModal"
		modal="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close" ng-click="closeModal()">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="modalTitle">Adding Book Entry for Branch</h4>
					</div>
					<div class="modal-body" ng-form name="myForm">
						Book Name: <p class="text-info" ng-show="add === false">{{book.title}}</p>
						Branch Name: <p class="text-info">{{branch.branchName}}</p>
						
						<label for="selbook" ng-show="add === true">Select Book to Add:</label>
						<select class="form-control" ng-model="book" id="selbook" size="5" ng-show="add === true"
							ng-options="b as b.title for b in allBooks track by b.bookId"></select></br>
						<!-- <tt>Book Selected = {{book}}</tt><br/> -->
						<tt>Count of the Book = {{branch.booksCount[book.bookId]}}</tt><br/>
						
						<label for="newCount">Select Number of Books to Set:</label>
						<input type="number" class="form-control" name="newCount" id="newCount" ng-model="setCount" required
							placeholder="Input How Many Books There Are..." min="0">
						<div role="alert">
							<span class="error" ng-show="myForm.newCount.$error.required"
								style="color: red"> Number of Books to Add Required!</span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="closeModal()">Close</button>
						<button type="button" class="btn btn-primary"
							ng-click="updateDetails()" id="modalSave">Update</button>
					</div>
				</div>
			</div>
		</div>
		<!-- <pre>{{add}}</pre> -->
		<!-- <pre>{{book | json}}</pre> -->
	</div>


</div>


