<div ng-controller="bookController" class="container">
	<div class="page-header">
		<h1>List of Books in LMS</h1>
	</div>
	<button type="button" class="btn btn-success" ng-click="addBook()">Add New Book</button><br/><br/>
	<div class="input-group">
		<input type="text" class="form-control" ng-model="searchString"
			placeholder="Search for..." ng-change="dataSearch()">
	</div>
	<div class="col-md-10">
		<ul class="pagination">
			<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
			<li ng-repeat="n in [] | range: pagination.numPages"
				ng-class="{active: n == pagination.page}"><a href=""
				ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
			<li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
		</ul>
	</div>
	<label>Any: <input ng-model="search.$" ng-change="filter()"></label> <br>
	<label>Name only <input ng-model="search.title" ng-change="filter()">	</label><br>
	<table class="table" id="bookssTable">
		<thead>
			<tr>
				<th>#</th>
				<th><a ng-click="sort()">Book Title</a></th>
				<th>Authors</th>
				<th>Publisher</th>
				<th>Genres</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="b in books | filter:search | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
				<td>{{$index+1+(10*pagination.page)}}</td>
				<td>{{b.title}}</td>
				<td><span ng-repeat="a in b.authors">{{a.authorName}} |</span></td>
				<td>{{b.publisher.publisherName}}</td>
				<td><span ng-repeat="g in b.genres">{{g.genreName}} |</span></td>
				<td><button type="button" class="btn btn-primary"
						ng-click="showEditModal(b)">Update</button></td>
				<td><button type="button" class="btn btn-danger" ng-click="dataDelete(b.bookId)">Delete</button></td>
			</tr>
		</tbody>
	</table>
	<div class="modal fade bs-example-modal-lg" id="editModal"
		modal="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close" ng-click="closeModal()">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="modalTitle">Update Book Details</h4>
					</div>
					<div class="modal-body" ng-form name="myForm">
						<p>Enter the details of the Book:</p>
						<input name="myInput" type="text" ng-model="book.title" required
							ng-trim="false" placeholder="Enter Title..."> <br />
						<div role="alert">
							<span class="error" ng-show="myForm.myInput.$error.required" style="color:red">
								Book Name Required!</span>
						</div>
						<label for="selauth">Select Author(s) of the Book (hold ctrl to select more than one):</label>
						<select multiple class="form-control" ng-model="book.authors" id="selauth" size="5" 
							ng-options="a as a.authorName for a in authors track by a.authorId"></select>
						<!-- <tt>{{book.title}}'s authors Selected = {{book.authors}}</tt><br/> -->
						<label for="selpub">Select Publisher of the Book:</label>
						<select class="form-control" ng-model="book.publisher" id="selpub" size="5" 
							ng-options="p as p.publisherName for p in publishers track by p.publisherId"></select>
						<!-- <tt>{{book.title}}'s publisher Selected = {{book.publisher}}</tt><br/> -->
						<label for="selgenr">Select Genre(s) of the Book (hold ctrl to select more than one):</label>
						<select multiple class="form-control" ng-model="book.genres" id="selgenr" size="5" 
						ng-options="g as g.genreName for g in genres track by g.genreId"></select>
						<!-- <tt>{{book.title}}'s genres Selected = {{book.genres}}</tt><br/> -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="closeModal()">Close</button>
						<button type="button" class="btn btn-primary"
							ng-click="updateDetails()" id="modalSave">Update</button>
					</div>
				</div>
			</div>
		</div>
		<!-- <pre>{{add}}</pre> -->
		<!-- <pre>{{book | json}}</pre> -->
	</div>


</div>


